[Unit]
Description=Flask app service
After=network.target

[Service]
WorkingDirectory=/home/eugenevrtx/homework_24
ExecStart=/home/venv/bin/python run.py

[Install]
WantedBy=multi-user.target
